/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
}

.menu {
  background-color: black;
  text-align: center;
  color: white;
  line-height: 2em;
}
nav {
  display: none;
}
/*.menu:hover + nav {
  display: flex;
} */

.menu-toggle{
  display: flex;
}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }
  nav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  nav a {
    padding: 1.25em 1.5em;
    color: #ccc;
    background: #555;
    text-decoration: none;
    transition: all 1.5s;
    display: block;
  }
  nav a:hover {
    color: #dfd;
    background-color: #111;
  }
  .menu {
    display: none;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
